
body {
    background-image: url("../images/dust_scratches.png");
}

/*==========Header=========*/

.banner{
	background: white;
	height: 100px;

}


.myname {
	background: #4aaaa5;
	color: white;
	margin-left: 110px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 25%;
	height: 100px;
	float: left;
	position: relative;
	text-align: center;
	line-height: 50px;
	
}

.nav {
	background: white;
	color: gray;
	position: relative;
	float: left;
	width: 45%;
	height:100px;
	top: 0;
	right: -500px;
	padding-left: 30px

}

.me {
	position: relative;
	float: left;
	width: 650px;
	background: white;
	top: 30px;
    margin-left: 110px;
    padding: 30px;

        }

.sidebar {
	position: absolute;
	float: left;
	background: white;
	top: 0px;
	right: -315px;
	width: 270px;
	padding:15px;

}

img {
	float: left;
	margin: 10px;
	z-index: 2;
}

.right{
	float: right;
}

h2, h3 	{
	font-family: Georgia, Times, Times New Roman, serif;
	border-bottom-style: solid;
	border-color: gray;
	padding: 20px;
	color: #4aaaa5
}

.portfolio {
	font-family: Georgia, Times, Times New Roman, serif;
	border: none;
	background: #4aaaa5;
	color: white;
	width: 150px;
	height: 20px;
	float: left;
	position: absolute;

}

h4 {
	color:gray;
	font-family: Georgia, Times, Times New Roman, serif;
	padding: 2px;
}

p {
	padding-left: 10px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}s

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1px;
  background-color: gray;
  text-align: center;
  font-size: 10px;
  color: white;
  width: 100%;
}

input {
	width:100%;
}

button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media only screen and (max-width: 980px) {
   
   .me {
   		width: 30%;
		
   }
	
	.sidebar {
		width: 50%;
		float: right;
	}

    }
}

@media only screen and (max-width: 768px) {
   
   .me {
   		width: 30%;
   }

   .nav {
		width: 50%;
		float: right;
	}

	.sidebar {
		width: 100%;
		bottom: 0;
		position: fixed;
	}

    }
}

@media only screen and (max-width: 640px) {
   

   .myname {
   		width: 30%;
   		float: right;
   		position: static;
   }

   .nav {
   		width: 30%;
   		float: right;
   }

   .me {
   		width: 30%;
   		float: right;
   }

	.sidebar {
		width: 30%;
		width: 30%;
		bottom: 0;
		position: fixed;	}

    }
}


